// @import "taro-ui/dist/style/components/input.scss";
// @import "taro-ui/dist/style/components/icon.scss";
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
